/**********
 * NAVBAR *
 **********/

#mainNav, #mainNav .navbar-brand {
  font-family: 'Lato', 'Helvetica', sans-serif;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background: rgba(0,0,0,.5);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav:before {
  content: “ ”;
  background: inherit;
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #88a229;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#navbar-logo {
  height: 3em;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #88a229;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link {
  padding: 0.5rem 1rem;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  color: #e9e9e9;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #88a229;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #88a229 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (max-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav .navbar-brand {
    color: #88a229;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #88a229;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #88a229;
  }
}

/**********
 * HEADER *
 **********/

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

header.banner {
  /* Used with masthead for non-frontpage stuff */
  height: 40vh;
  max-height: 300px;
  min-height: 0px;
}

/************
 * SECTIONS *
 ************/

h2.section-heading {
  font-weight: bold;
  font-size: 3.5em;
}

section {
  padding: 8rem 0;
  border-bottom: 100px solid #212529;
}

.section-heading {
  margin-top: 0;
}

/**********
 * FOOTER *
 **********/

footer.footer {
  background-color: #212529;
  padding-top: 12px;
  padding-bottom: 12px;
}

footer p.copyright {
  color: #e9e9e9;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  margin-bottom: 0px;
}
